/*-------------------STYLES CARDS----------------------*/
a {
  text-decoration: none;
}
body {
  background-size: cover;
}

.container-body {
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 15px;
  margin-bottom: 15px;
}

.styles-styles-card {
  width: 190px;
  height: 254px;
  background: transparent;
  border: 2px solid #ff5507;
  box-shadow: 2px 2px 15px #000000 inset;
  text-align: center;
  color: #e8e8e8;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Pacifico";
  border-radius: 10px;
  margin-top: 8px;
}

.styles-styles-card:hover {
  color: #ff5507;
  box-shadow: 2px 2px 15px #ff5507 inset;
}

/*-------------------------BUTTON HOME-----------------------------*/

.button-home {
  --color: #2dac4d;
  font-family: inherit;
  display: inline-block;
  width: 7em;
  height: 2em;
  line-height: 2.5em;
  margin: 20px 10px 10px 10px;
  position: relative;
  overflow: hidden;
  border: 1.5px solid var(--color);
  transition: color 0.8s;
  z-index: 1;
  font-size: 17px;
  border-radius: 18px;
  font-weight: 300;
  color: var(--color);
  padding-top: 0px;
  cursor: pointer;
}

.button-home:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
}

.button-home:hover {
  color: #fff;
}

.button-home:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}

.button-home:hover:before {
  top: -30px;
  left: -30px;
}

.button-home:active:before {
  background: #3a0ca3;
  transition: background 3s;
}

/*--------------------SELECT HOME----------------------*/

.select-home {
  border: 3px solid rgb(127, 170, 170);
  border-radius: 20px;
  background-image: linear-gradient(120deg, #bbd2d3, #f76410);
  color: white;
  cursor: pointer;
  padding: 7px 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  transition: all 1s;
  max-width: 180px;
  height: 2.6em;
  background-color: #f07c3a;
  margin-right: 5px;
}

.select-home:focus {
  outline-color: rgb(94, 238, 159);
}
/*-------------------OPTIONS HOME----------------*/

.option {
  background-color: #f07c3a;
}
